In [1]:
import numpy as np
import pandas as pd
import my_own_package

In [2]:
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 0)

In [3]:
data_path = r'C:\Users\DucTRung\Desktop\country_by_freedom_indexes_in_covid19'

# Current Data-set

In [18]:
current_f = pd.read_csv(data_path + "\\wrangled_frame\\press_free_2020_ds.csv")

In [9]:
def convert_float(data):
    if data is not np.nan:
        return data.replace(',', '')
    else:
        return data

In [15]:
current_f['press_freedom_index_2020'] = current_f['press_freedom_index_2020'].apply(convert_float).astype('float')

In [21]:
current_f['press_freedom_index_2020'] = current_f['press_freedom_index_2020'] / 100

In [25]:
current_f.rename(columns={'Total_cases': 'total_cases',
                          'Total_deaths': 'total_deaths',
                          'Total_recovered': 'total_recovered'}, inplace=True)

In [26]:
current_f.head()

  country  total_cases  total_deaths  ...            region      continent press_freedom_index_2020
0     USA      1238052         72284  ...  Northern America  North America                    23.85
1   Spain       250561         25613  ...   Southern Europe         Europe                    22.16
2   Italy       213013         29315  ...   Southern Europe         Europe                    23.69
3      UK       194990         29427  ...   Northern Europe         Europe                    22.93
4  France       170551         25531  ...    Western Europe         Europe                    22.92

[5 rows x 8 columns]

In [27]:
current_f.to_csv(data_path + "\\wrangled_frame\\press_free_2020_ds.csv", index=False)

# COVID-19

In [13]:
covid_f = pd.read_csv(data_path + '\\covid19_ds.csv')

In [14]:
covid_f.head()

  Country Total_cases Total_deaths Total_recovered
0     USA   1,238,052       72,284         200,669
1   Spain     250,561       25,613         154,718
2   Italy     213,013       29,315          85,231
3      UK     194,990       29,427             NaN
4  France     170,551       25,531          52,736

## Drop unneccesrily indexes

In [15]:
covid_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          214 non-null    object
 1   Total_cases      214 non-null    object
 2   Total_deaths     176 non-null    object
 3   Total_recovered  206 non-null    object
dtypes: object(4)
memory usage: 6.8+ KB

## Converting from String to Float

In [16]:
def convert_float(data):
    if data is not np.nan:
        return data.replace(',', '')
    else:
        return data

In [17]:
covid_f['Total_cases'] = covid_f['Total_cases'].apply(convert_float).astype('float')
covid_f['Total_deaths'] = covid_f['Total_deaths'].apply(convert_float).astype('float')
covid_f['Total_recovered'] = covid_f['Total_recovered'].apply(convert_float).astype('float')
# covid_f['total_tests'] = covid_f['total_tests'].apply(convert_float).astype('float')
# covid_f['active_cases'] = covid_f['active_cases'].apply(convert_float).astype('float')
# covid_f['serious_critical'] = covid_f['serious_critical'].apply(convert_float).astype('float')
# covid_f['cases_over_1_m'] = covid_f['cases_over_1_m'].apply(convert_float).astype('float')
# covid_f['deaths_over_1_m'] = covid_f['deaths_over_1_m'].apply(convert_float).astype('float')
# covid_f['tests_over_1_m'] = covid_f['tests_over_1_m'].apply(convert_float).astype('float')

In [18]:
covid_f.dtypes

Country             object
Total_cases        float64
Total_deaths       float64
Total_recovered    float64
dtype: object

## Missing values

In [20]:
covid_f.isnull().sum()

Country             0
Total_cases         0
Total_deaths       38
Total_recovered     8
dtype: int64

### 'total_deaths

In [22]:
covid_f['Total_deaths'].fillna(0, inplace=True)

### 'total_recovered'

In [23]:
covid_f['Total_recovered'].fillna(0, inplace=True)

### 'active_cases'

In [30]:
covid_f['active_cases'].isnull().sum()

0

### 'serious_critical'

In [34]:
covid_f[covid_f['country'] == 'Vietnam']

     country  total_cases  total_deaths  total_recovered  ...  cases_over_1_m  deaths_over_1_m  total_tests  tests_over_1_m
112  Vietnam        266.0           0.0            169.0  ...             3.0              NaN     121821.0          1252.0

[1 rows x 10 columns]

In [38]:
covid_f['serious_critical'].fillna(method='ffill', inplace=True)

### cases_over_1_m

In [42]:
covid_f[covid_f['cases_over_1_m'].isnull()]

              country  total_cases  total_deaths  ...  deaths_over_1_m  total_tests  tests_over_1_m
83   Diamond Princess        712.0          12.0  ...              NaN          NaN             NaN
194        MS Zaandam          9.0           2.0  ...              NaN          NaN             NaN

[2 rows x 10 columns]

In [44]:
covid_f.drop([83, 194], inplace=True)

### 'deaths_over_1_m'

In [50]:
covid_f['deaths_over_1_m'].fillna(0, inplace=True)

### 'total_tests'

In [67]:
covid_f['total_tests'].fillna('unknown', inplace=True)

### 'tests_over_1_m'

In [70]:
covid_f['tests_over_1_m'].fillna('unknown', inplace=True)

In [71]:
covid_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210 entries, 1 to 212
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   country           210 non-null    object
 1   total_cases       210 non-null    float64
 2   total_deaths      210 non-null    float64
 3   total_recovered   210 non-null    float64
 4   active_cases      210 non-null    float64
 5   serious_critical  210 non-null    float64
 6   cases_over_1_m    210 non-null    float64
 7   deaths_over_1_m   210 non-null    float64
 8   total_tests       210 non-null    object
 9   tests_over_1_m    210 non-null    object
dtypes: float64(7), object(3)
memory usage: 18.0+ KB

In [24]:
covid_f.to_csv('wrangled_frame\\covid_f.csv', index=False)

In [38]:
covid_f = pd.read_csv('wrangled_frame\\covid_f.csv')

In [39]:
covid_f[covid_f['Country'] == 'South Korea']

        Country  Total_cases  Total_deaths  Total_recovered
37  South Korea        10806           255             9333

# Life Expectancy

In [73]:
lei_f = pd.read_csv(data_path + '\\le_index_2019.csv')

## Merge to 'covid_f'

In [74]:
# Checking the key value ('country')
lei_f.set_index(lei_f['country'].isin(covid_f['country'])).loc[False]

                     country  life_expectancy_index_2019
country
False    U.S. Virgin Islands                       81.17
False                   Guam                       80.74
False            Puerto Rico                       80.69
False                  Samoa                       73.75
False        Solomon Islands                       73.38
False            North Korea                       72.89
False             Tajikistan                       71.76
False                  Tonga                       71.32
False                Vanuatu                       70.99
False               Kiribati                       69.17
False           Turkmenistan                       68.63
False                Comoros                       65.03
False                Lesotho                       55.65

In [80]:
# merge 
merged_f = pd.merge(covid_f, lei_f, how='left')

## Missing values

In [81]:
merged_f['life_expectancy_index_2019'].isnull().sum()

23

In [83]:
merged_f.dtypes

country                        object
total_cases                   float64
total_deaths                  float64
total_recovered               float64
active_cases                  float64
serious_critical              float64
cases_over_1_m                float64
deaths_over_1_m               float64
total_tests                    object
tests_over_1_m                 object
life_expectancy_index_2019    float64
dtype: object

# Corruption Perception Index

In [84]:
cpi_f = pd.read_csv(data_path + '\\cpi_2019.csv')

## Merge to 'covid_f'

In [86]:
# check the key value
cpi_f.set_index(cpi_f['country'].isin(covid_f['country'])).loc[False]

                 country  corruption_perception_index_2019
country
False         Cape Verde                                58
False    Solomon Islands                                42
False            Lesotho                                40
False             Kosovo                                36
False            Comoros                                25
False         Tajikistan                                25
False       Turkmenistan                                19
False        North Korea                                17

In [87]:
merged_f = pd.merge(merged_f, cpi_f, how='left')

In [88]:
merged_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210 entries, 0 to 209
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   country                           210 non-null    object
 1   total_cases                       210 non-null    float64
 2   total_deaths                      210 non-null    float64
 3   total_recovered                   210 non-null    float64
 4   active_cases                      210 non-null    float64
 5   serious_critical                  210 non-null    float64
 6   cases_over_1_m                    210 non-null    float64
 7   deaths_over_1_m                   210 non-null    float64
 8   total_tests                       210 non-null    object
 9   tests_over_1_m                    210 non-null    object
 10  life_expectancy_index_2019        187 non-null    float64
 11  corruption_perception_index_2019  168 non-null    float64
dtypes: float64(9), object(3)
memory usage: 21.3+ KB

# BRI Countries

In [30]:
bri_f = pd.read_csv(data_path + '\\bri_countries.csv')

## Merge to 'covid_f'

In [40]:
# check the key value
bri_f.set_index(bri_f['bri_country'].isin(covid_f['Country'])).loc[False]

                 bri_country         income_group
bri_country
False           Cook Islands                  NaN
False               Kiribati  Lower middle income
False        Kyrgyz Republic  Lower middle income
False                Lesotho  Lower middle income
False             Micronesia  Lower middle income
False                   Niue                  NaN
False                  Samoa  Upper middle income
False        Slovak Republic          High income
False        Solomon Islands  Lower middle income
False                  Tonga  Upper middle income
False                Vanuatu  Lower middle income

In [43]:
merged_f = pd.merge(covid_f, bri_f, left_on='Country', right_on='bri_country', how='left')

In [49]:
merged_f.drop('income_group', axis=1, inplace=True)

In [65]:
merged_f.rename(columns={'Country': 'country'}, inplace=True)

In [66]:
merged_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 214 entries, 0 to 213
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          214 non-null    object
 1   Total_cases      214 non-null    int64
 2   Total_deaths     214 non-null    int64
 3   Total_recovered  214 non-null    int64
 4   bri_country      214 non-null    object
dtypes: int64(3), object(2)
memory usage: 10.0+ KB

## Map memership and non-membership bri countriy

In [51]:
def bri_member(country):
    if country is not np.nan:
        return 'bri_member'
    else:
        return 'non_member'

In [52]:
merged_f['bri_country'] = merged_f['bri_country'].apply(bri_member)

In [53]:
merged_f['bri_country'].value_counts()

bri_member    127
non_member     87
Name: bri_country, dtype: int64

# Country_by_Region

In [60]:
cbr_f = pd.read_csv(data_path + '\\country_by_region.csv')

In [61]:
cbr_f = cbr_f[['country', 'region']]

## Merge to 'covid_f'

In [62]:
# check the key value
cbr_f.set_index(cbr_f['country'].isin(covid_f['Country'])).loc[False]

                              country           region
country
False                     North Korea     Eastern Asia
False                    Turkmenistan     Central Asia
False                        DR Congo    Middle Africa
False                         Lesotho  Southern Africa
False                       Swaziland  Southern Africa
False                     Puerto Rico        Caribbean
False        Saint Vincent Grenadines        Caribbean
False    United States Virgin Islands        Caribbean
False                     Saint Barth        Caribbean
False                 Solomon Islands        Melanesia
False                         Vanuatu        Melanesia
False                           Samoa        Polynesia
False                           Tonga        Polynesia
False                  American Samoa        Polynesia
False                    Cook Islands        Polynesia
False       Wallis and Futuna Islands        Polynesia
False                          Tuvalu        Polynesia
False                            Niue        Polynesia
False                         Tokelau        Polynesia
False                            Guam       Micronesia
False                        Kiribati       Micronesia
False                      Micronesia       Micronesia
False        Northern Mariana Islands       Micronesia
False                Marshall Islands       Micronesia
False                           Palau       Micronesia
False                           Nauru       Micronesia

In [67]:
merged_f = pd.merge(merged_f, cbr_f, how='left')

In [68]:
merged_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 214 entries, 0 to 213
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          214 non-null    object
 1   Total_cases      214 non-null    int64
 2   Total_deaths     214 non-null    int64
 3   Total_recovered  214 non-null    int64
 4   bri_country      214 non-null    object
 5   region           208 non-null    object
dtypes: int64(3), object(3)
memory usage: 11.7+ KB

## Missing values

In [111]:
merged_f[merged_f['region'].isnull()]

      country  total_cases  total_deaths  total_recovered  ...  bri_country  income_group  region  continent
178  Eswatini         15.0           0.0              8.0  ...   non_member           NaN     NaN        NaN

[1 rows x 16 columns]

In [113]:
merged_f.loc[178, 'region'] = 'Southern Africa'

In [115]:
merged_f.loc[178, 'continent'] = 'Africa'

In [117]:
merged_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210 entries, 0 to 209
Data columns (total 16 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   country                           210 non-null    object
 1   total_cases                       210 non-null    float64
 2   total_deaths                      210 non-null    float64
 3   total_recovered                   210 non-null    float64
 4   active_cases                      210 non-null    float64
 5   serious_critical                  210 non-null    float64
 6   cases_over_1_m                    210 non-null    float64
 7   deaths_over_1_m                   210 non-null    float64
 8   total_tests                       210 non-null    object
 9   tests_over_1_m                    210 non-null    object
 10  life_expectancy_index_2019        187 non-null    float64
 11  corruption_perception_index_2019  168 non-null    float64
 12  bri_country                       210 non-null    object
 13  income_group                      125 non-null    object
 14  region                            210 non-null    object
 15  continent                         210 non-null    object
dtypes: float64(9), object(7)
memory usage: 37.9+ KB

# Country_by_Continent

In [75]:
cbc_f = pd.read_csv(data_path + '\\country_by_continent.csv')

## Merge to 'covid_f'

In [76]:
# check the key value
cbc_f.set_index(cbc_f['Country'].isin(covid_f['Country'])).loc[False]

KeyError: False

In [79]:
cbc_f.rename(columns={'Country': 'country',
                      'Continent': 'continent'}, inplace=True)

In [81]:
merged_f = pd.merge(merged_f, cbc_f, how='left')

In [82]:
merged_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 214 entries, 0 to 213
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          214 non-null    object
 1   Total_cases      214 non-null    int64
 2   Total_deaths     214 non-null    int64
 3   Total_recovered  214 non-null    int64
 4   bri_country      214 non-null    object
 5   region           208 non-null    object
 6   continent        212 non-null    object
dtypes: int64(3), object(4)
memory usage: 13.4+ KB

# Demoracy Index

In [118]:
di_f = pd.read_csv(data_path + '\\democracy_index_2019.csv')

## Merge to 'covid_19'

In [119]:
# check the key value
di_f.set_index(di_f['country'].isin(covid_f['country'])).loc[False]

              country  democracy_index_2019
country
False      Cape Verde                  77.8
False         Lesotho                  65.4
False         Comoros                  31.5
False      Tajikistan                  19.3
False    Turkmenistan                  17.2
False     North Korea                  10.8

In [120]:
merged_f = pd.merge(merged_f, di_f, how='left')

In [121]:
merged_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210 entries, 0 to 209
Data columns (total 17 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   country                           210 non-null    object
 1   total_cases                       210 non-null    float64
 2   total_deaths                      210 non-null    float64
 3   total_recovered                   210 non-null    float64
 4   active_cases                      210 non-null    float64
 5   serious_critical                  210 non-null    float64
 6   cases_over_1_m                    210 non-null    float64
 7   deaths_over_1_m                   210 non-null    float64
 8   total_tests                       210 non-null    object
 9   tests_over_1_m                    210 non-null    object
 10  life_expectancy_index_2019        187 non-null    float64
 11  corruption_perception_index_2019  168 non-null    float64
 12  bri_country                       210 non-null    object
 13  income_group                      125 non-null    object
 14  region                            210 non-null    object
 15  continent                         210 non-null    object
 16  democracy_index_2019              161 non-null    float64
dtypes: float64(10), object(7)
memory usage: 29.5+ KB

# Economic Freedom Index

In [122]:
efi_f = pd.read_csv(data_path + '\\economic_freedom_index.csv')

## Merge to 'covid_f'

In [123]:
# check the value key
efi_f.set_index(efi_f['country'].isin(covid_f['country'])).loc[False]

                 country  economic_freedom_index_2019
country
False             Kosovo                         67.0
False    Kyrgyz Republic                         62.3
False              Samoa                         62.2
False              Tonga                         57.7
False            Vanuatu                         56.4
False         Tajikistan                         55.6
False            Comoros                         55.4
False    Solomon Islands                         54.6
False            Lesotho                         53.1
False         The Gambia                         52.4
False         Micronesia                         51.9
False       Turkmenistan                         48.4
False           Kiribati                         47.3
False        North Korea                          5.9

In [124]:
merged_f = pd.merge(merged_f, efi_f, how='left')

In [125]:
merged_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210 entries, 0 to 209
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   country                           210 non-null    object
 1   total_cases                       210 non-null    float64
 2   total_deaths                      210 non-null    float64
 3   total_recovered                   210 non-null    float64
 4   active_cases                      210 non-null    float64
 5   serious_critical                  210 non-null    float64
 6   cases_over_1_m                    210 non-null    float64
 7   deaths_over_1_m                   210 non-null    float64
 8   total_tests                       210 non-null    object
 9   tests_over_1_m                    210 non-null    object
 10  life_expectancy_index_2019        187 non-null    float64
 11  corruption_perception_index_2019  168 non-null    float64
 12  bri_country                       210 non-null    object
 13  income_group                      125 non-null    object
 14  region                            210 non-null    object
 15  continent                         210 non-null    object
 16  democracy_index_2019              161 non-null    float64
 17  economic_freedom_index_2019       166 non-null    float64
dtypes: float64(11), object(7)
memory usage: 31.2+ KB

# Press Freedom Index

In [5]:
pfi_f = pd.read_csv(data_path + '\\data_sets\\press_freedom_index_2020.csv')

In [6]:
pfi_f.head()

   ISO  Rank2020           FR_Country  ...            Zone                AR_country         FA_country
0  AFG       122          Afghanistan  ...  Asie-Pacifique                 أفغانستان          افغانستان
1  AGO       106               Angola  ...         Afrique                    أنغولا             آنگولا
2  ALB        84              Albanie  ...      UE Balkans                   ألبانيا             آلبانی
3  AND        37              Andorre  ...      UE Balkans                    أندورا              آندور
4  ARE       131  Émirats arabes unis  ...            MENA  الإمارات العربية المتحدة  امارات متحده عربی

[5 rows x 14 columns]

## Filter necessary entries

In [7]:
pfi_f.columns

Index(['ISO', 'Rank2020', 'FR_Country', 'EN_country', 'ES_country', 'Score A',
       'Sco Exa', 'Score 2020', 'Progression RANK', 'Rank 2019', 'Score 2019',
       'Zone', 'AR_country', 'FA_country'],
      dtype='object')

In [8]:
pfi_f = pfi_f[['EN_country', 'Score 2020']]

## Merge to 'covid_f

In [9]:
# check the key value
pfi_f.set_index(pfi_f['EN_country'].isin(covid_f['Country'])).loc[False]

NameError: name 'covid_f' is not defined

## Convert index format: from object to float

In [10]:
pfi_f.rename(columns={'EN_country': 'country'}, inplace=True)

In [100]:
merged_f = pd.merge(merged_f, pfi_f, how='left')

In [101]:
merged_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 214 entries, 0 to 213
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          214 non-null    object
 1   Total_cases      214 non-null    int64
 2   Total_deaths     214 non-null    int64
 3   Total_recovered  214 non-null    int64
 4   bri_country      214 non-null    object
 5   region           208 non-null    object
 6   continent        212 non-null    object
 7   Score 2020       169 non-null    object
dtypes: int64(3), object(5)
memory usage: 15.0+ KB

In [ ]:
merged_f.to_csv('wrangled_frame//press_free_2020_ds_csv')

# World Happiness Index

In [132]:
hi_f = pd.read_csv(data_path + '\\world_happiness_index.csv')

In [133]:
hi_f = hi_f[['country', 'happiness_index_2019']]

## Merge to 'covid_f'

In [134]:
hi_f.set_index(hi_f['country'].isin(covid_f['country'])).loc[False]

                         country  happiness_index_2019
country
False          Trinidad & Tobago                 6.192
False                     Kosovo                 6.100
False            Northern Cyprus                 5.718
False                 Tajikistan                 5.467
False               Turkmenistan                 5.247
False    Palestinian Territories                 4.696
False                    Comoros                 3.973
False                    Lesotho                 3.802

## Convert Index from 10 unit to 100 unit

In [135]:
hi_f[hi_f.columns[1]] *= 10

In [136]:
hi_f

                      country  happiness_index_2019
0                     Finland                 77.69
1                     Denmark                 76.00
2                      Norway                 75.54
3                     Iceland                 74.94
4                 Netherlands                 74.88
..                        ...                   ...
151                    Rwanda                 33.34
152                  Tanzania                 32.31
153               Afghanistan                 32.03
154  Central African Republic                 30.83
155               South Sudan                 28.53

[156 rows x 2 columns]

In [137]:
merged_f = pd.merge(merged_f, hi_f, how='left')

In [138]:
merged_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210 entries, 0 to 209
Data columns (total 20 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   country                           210 non-null    object
 1   total_cases                       210 non-null    float64
 2   total_deaths                      210 non-null    float64
 3   total_recovered                   210 non-null    float64
 4   active_cases                      210 non-null    float64
 5   serious_critical                  210 non-null    float64
 6   cases_over_1_m                    210 non-null    float64
 7   deaths_over_1_m                   210 non-null    float64
 8   total_tests                       210 non-null    object
 9   tests_over_1_m                    210 non-null    object
 10  life_expectancy_index_2019        187 non-null    float64
 11  corruption_perception_index_2019  168 non-null    float64
 12  bri_country                       210 non-null    object
 13  income_group                      125 non-null    object
 14  region                            210 non-null    object
 15  continent                         210 non-null    object
 16  democracy_index_2019              161 non-null    float64
 17  economic_freedom_index_2019       166 non-null    float64
 18  press_freedom_index_2019          168 non-null    float64
 19  happiness_index_2019              148 non-null    float64
dtypes: float64(13), object(7)
memory usage: 34.5+ KB

# Reorder of features

In [141]:
merged_f.columns

Index(['country', 'total_cases', 'total_deaths', 'total_recovered',
       'active_cases', 'serious_critical', 'cases_over_1_m', 'deaths_over_1_m',
       'total_tests', 'tests_over_1_m', 'life_expectancy_index_2019',
       'corruption_perception_index_2019', 'bri_country', 'income_group',
       'region', 'continent', 'democracy_index_2019',
       'economic_freedom_index_2019', 'press_freedom_index_2019',
       'happiness_index_2019'],
      dtype='object')

In [143]:
merged_f = merged_f[['country', 'region', 'continent', 'bri_country', 'income_group',
                    'total_cases', 'total_deaths', 'total_recovered', 'total_tests',
                    'active_cases', 'serious_critical', 'cases_over_1_m', 'deaths_over_1_m', 'tests_over_1_m',
                    'life_expectancy_index_2019',  'happiness_index_2019', 'corruption_perception_index_2019',
                    'democracy_index_2019', 'economic_freedom_index_2019', 'press_freedom_index_2019']]

## Rename features

In [147]:
merged_f.rename(columns={'income_group':'bri_member_income_group'}, inplace=True)

In [148]:
merged_f.head()

   country            region  ... economic_freedom_index_2019 press_freedom_index_2019
0      USA  Northern America  ...                        76.8                    74.31
1    Spain   Southern Europe  ...                        65.7                    78.01
2    Italy   Southern Europe  ...                        62.2                    75.02
3   France    Western Europe  ...                        63.8                    77.79
4  Germany    Western Europe  ...                        73.5                    85.40

[5 rows x 20 columns]

# Handle missing values

In [149]:
for i, j in zip(merged_f.isnull().sum().index, merged_f.isnull().sum()):
    print(i, ':', j)

country : 0
region : 0
continent : 0
bri_country : 0
bri_member_income_group : 85
total_cases : 0
total_deaths : 0
total_recovered : 0
total_tests : 0
active_cases : 0
serious_critical : 0
cases_over_1_m : 0
deaths_over_1_m : 0
tests_over_1_m : 0
life_expectancy_index_2019 : 23
happiness_index_2019 : 62
corruption_perception_index_2019 : 42
democracy_index_2019 : 49
economic_freedom_index_2019 : 44
press_freedom_index_2019 : 42

## Drop all points with all NaN features

In [158]:
merged_f.columns

Index(['country', 'region', 'continent', 'bri_country',
       'bri_member_income_group', 'total_cases', 'total_deaths',
       'total_recovered', 'total_tests', 'active_cases', 'serious_critical',
       'cases_over_1_m', 'deaths_over_1_m', 'tests_over_1_m',
       'life_expectancy_index_2019', 'happiness_index_2019',
       'corruption_perception_index_2019', 'democracy_index_2019',
       'economic_freedom_index_2019', 'press_freedom_index_2019'],
      dtype='object')

### Freedom_indexes frame

In [152]:
indexes_f = merged_f[['life_expectancy_index_2019', 'happiness_index_2019', 'corruption_perception_index_2019', 'democracy_index_2019', 'economic_freedom_index_2019', 'press_freedom_index_2019']]

In [156]:
indexes_f.dropna(how='all', inplace=True)

C:\Users\DucTRung\Anaconda3\envs\cc_env\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

### Epidemic status

In [168]:
epidemic_f = merged_f[['country', 'region', 'continent', 'bri_country',
       'bri_member_income_group', 'total_cases', 'total_deaths',
       'total_recovered', 'total_tests', 'active_cases', 'serious_critical',
       'cases_over_1_m', 'deaths_over_1_m', 'tests_over_1_m',]]

In [169]:
epidemic_f.isnull().sum()

country                     0
region                      0
continent                   0
bri_country                 0
bri_member_income_group    85
total_cases                 0
total_deaths                0
total_recovered             0
total_tests                 0
active_cases                0
serious_critical            0
cases_over_1_m              0
deaths_over_1_m             0
tests_over_1_m              0
dtype: int64

### Merge 'indexes_f' and 'epidemic_f'

In [170]:
wrangled_f = pd.merge(epidemic_f, indexes_f, left_index=True, right_index=True)

In [171]:
wrangled_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 190 entries, 0 to 209
Data columns (total 20 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   country                           190 non-null    object
 1   region                            190 non-null    object
 2   continent                         190 non-null    object
 3   bri_country                       190 non-null    object
 4   bri_member_income_group           125 non-null    object
 5   total_cases                       190 non-null    float64
 6   total_deaths                      190 non-null    float64
 7   total_recovered                   190 non-null    float64
 8   total_tests                       190 non-null    object
 9   active_cases                      190 non-null    float64
 10  serious_critical                  190 non-null    float64
 11  cases_over_1_m                    190 non-null    float64
 12  deaths_over_1_m                   190 non-null    float64
 13  tests_over_1_m                    190 non-null    object
 14  life_expectancy_index_2019        187 non-null    float64
 15  happiness_index_2019              148 non-null    float64
 16  corruption_perception_index_2019  168 non-null    float64
 17  democracy_index_2019              161 non-null    float64
 18  economic_freedom_index_2019       166 non-null    float64
 19  press_freedom_index_2019          168 non-null    float64
dtypes: float64(13), object(7)
memory usage: 31.2+ KB

# Save wrangled data set

In [172]:
wrangled_f.to_csv('wrangled_frame\\wrangled_f_3.csv', index=False)

In [52]:
# country_f = merged_f.set_index(['country'])

In [53]:
# region_f = merged_f.set_index(['region'])

In [54]:
# continent_f = merged_f.set_index(['continent'])

In [55]:
# country_f.to_csv(data_path + '\\wrangled_frame\\country_f.csv', index=True)

In [56]:
# region_f.to_csv(data_path + '\\wrangled_frame\\region_f.csv', index=True)

In [57]:
# continent_f.to_csv(data_path + '\\wrangled_frame\\continent_f.csv', index=True)