In [2]:
import numpy as np
import pandas as pd

In [3]:
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 0)

In [10]:
data_path = r'C:\Users\DucTRung\Desktop\country_by_freedom_indexes_in_covid19'

# Covid-19

In [8]:
covid_f = pd.read_csv(data_path + 'wrangled_frame\\covid_f.csv')

## Rename features

In [22]:
covid_f.rename(columns={'Country': 'country',
                        'Total_cases': 'total_cases',
                        'Total_deaths': 'total_deaths',
                        'Total_recovered': 'total_recovered'}, inplace=True)

In [98]:
covid_f[covid_f['country'] == 'DR Congo']

     country  total_cases  total_deaths  total_recovered
95  DR Congo          797            35               92

# Press Freedom Index 2020

In [13]:
pfi_f = pd.read_csv(data_path + '\\data_sets\\press_freedom_index_2020.csv')

## Filter right features

In [14]:
pfi_f.columns

Index(['ISO', 'Rank2020', 'FR_Country', 'EN_country', 'ES_country', 'Score A',
       'Sco Exa', 'Score 2020', 'Progression RANK', 'Rank 2019', 'Score 2019',
       'Zone', 'AR_country', 'FA_country'],
      dtype='object')

In [16]:
pfi_f = pfi_f[['EN_country', 'Score 2020']]

## Rename features

In [18]:
pfi_f.rename(columns={'EN_country': 'country',
                      'Score 2020': 'press_freedom_index_2020'}, inplace=True)

## Checking 'country' feature

In [44]:
pfi_f.set_index(pfi_f['country'].isin(covid_f['country'])).loc[False]

                                       country press_freedom_index_2020
country
False                               Cape Verde                    20,15
False                             Cyprus North                    29,79
False                                  Lesotho                    30,45
False                                Macedonia                    31,28
False    Democratic People's Republic of Korea                    85,82
False                                Swaziland                    45,15
False                             Turkmenistan                    85,44
False                                    Tonga                    27,27
False                                    Samoa                    18,25
False                                     OECS                    23,78
False                                   Kosovo                    29,33

## Correct name of country

In [43]:
pfi_f.loc[pfi_f['country'] == 'DRC', 'country'] = 'DR Congo'

## Convert format of 'press_freedom_index_2020'

In [55]:
replace = lambda x: x.replace(',', '.')

In [63]:
pfi_f['press_freedom_index_2020'] = pfi_f['press_freedom_index_2020'].apply(replace).astype('float')

## Save

In [65]:
pfi_f.to_csv(data_path + '\\wrangled_frame\\pfi_f.csv', index=False)

# Country by Region

In [83]:
region_f = pd.read_csv(data_path + '\\data_sets\\country_by_region.csv')

## Filter features

In [84]:
region_f = region_f[['country', 'region']]

## Checking merge_key: 'country'

In [85]:
region_f.set_index(region_f['country'].isin(covid_f['country'])).loc[False]

                              country           region
country
False                     North Korea     Eastern Asia
False                    Turkmenistan     Central Asia
False                         Lesotho  Southern Africa
False                       Swaziland  Southern Africa
False                     Puerto Rico        Caribbean
False    United States Virgin Islands        Caribbean
False                 Solomon Islands        Melanesia
False                         Vanuatu        Melanesia
False                           Samoa        Polynesia
False                           Tonga        Polynesia
False                  American Samoa        Polynesia
False                    Cook Islands        Polynesia
False       Wallis and Futuna Islands        Polynesia
False                          Tuvalu        Polynesia
False                            Niue        Polynesia
False                         Tokelau        Polynesia
False                            Guam       Micronesia
False                        Kiribati       Micronesia
False                      Micronesia       Micronesia
False        Northern Mariana Islands       Micronesia
False                Marshall Islands       Micronesia
False                           Palau       Micronesia
False                           Nauru       Micronesia

## Save

In [86]:
region_f.to_csv(data_path + '\\wrangled_frame\\region_f.csv', index=False)

# Country by Continent

In [96]:
continent_f = pd.read_csv(data_path + '\\data_sets\\country_by_continent.csv')

## Checking merge_key: 'country'

In [104]:
continent_f.set_index(continent_f['country'].isin(covid_f['country'])).loc[False]

KeyError: False

## Correct name of country

In [103]:
continent_f.loc[continent_f['country'] == 'DRC', 'country'] = 'DR Congo'

## Save

In [105]:
continent_f.to_csv(data_path + '\\wrangled_frame\\countinent_f.csv', index=False)

# Merging

## Left set

In [110]:
merged_f.head()

  country  total_cases  total_deaths  total_recovered  press_freedom_index_2020            region      continent
0     USA    1238052.0       72284.0         200669.0                     23.85  Northern America  North America
1   Spain     250561.0       25613.0         154718.0                     22.16   Southern Europe         Europe
2   Italy     213013.0       29315.0          85231.0                     23.69   Southern Europe         Europe
3      UK     194990.0       29427.0              0.0                     22.93   Northern Europe         Europe
4  France     170551.0       25531.0          52736.0                     22.92    Western Europe         Europe

## Right set

In [107]:
continent_f.head()

   country continent
0    Spain    Europe
1    Italy    Europe
2       UK    Europe
3   France    Europe
4  Germany    Europe

## Merging

In [108]:
merged_f = pd.merge(merged_f, continent_f, on='country', how='outer')

## Save

In [109]:
merged_f.to_csv(data_path + '\\wrangled_frame\\wrangled_f_4.csv', index=False)